body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
}

code {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}
.App {
  text-align: center;
}

.logo{
  background-color: whitesmoke;
  width:100%;
  height: 10%;
  -moz-box-shadow: inset 0 -10px 10px -10px #000000;
  -webkit-box-shadow: inset 0 -10px 10px -10px #000000;
  box-shadow: inset 0 -10px 10px -10px #000000;
  text-align: right;
  font-size: 20px;
  color: rgb(56, 48, 28);
}

.dashboard{
  background-color: #061121;
  position: relative;
  top: 0;
  left: 0;
}
.dashboard:after
{
    content: '';
    width: 156px;
    height: 60px;
    position: absolute;
    top: 5px;
    left: 30px;
    background-image: url("logo02s_156_60.png");
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: "Poppins", sans-serif;
}

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

#root {
position: relative;
}

h1{
  font-size: 70px;
}

/* form starting stylings ------------------------------- */
.group 			  { 
text-align:center;
position:relative; 
margin-bottom:45px; 
}

input 				{
font-size:18px;
padding:10px 10px 10px 5px;
display:block;
width:500px;
border:none;
border-bottom:1px solid #757575;
font-family: monaco, Consolas, "Lucida Console", monospace;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
color:#999; 
font-size:18px;
font-weight:normal;
position:absolute;
pointer-events:none;
left:5px;
top:10px;
transition:0.2s ease all; 
-moz-transition:0.2s ease all; 
-webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
top:-20px;
font-size:14px;
color:#ced0db;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
content:'';
height:2px; 
width:0;
bottom:1px; 
position:absolute;
background:#5264AE; 
transition:0.2s ease all; 
-moz-transition:0.2s ease all; 
-webkit-transition:0.2s ease all;
}
.bar:before {
left:50%;
}
.bar:after {
right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
position:absolute;
height:60%; 
width:100px; 
top:25%; 
left:0;
pointer-events:none;
opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
-webkit-animation:inputHighlighter 0.3s ease;
-moz-animation:inputHighlighter 0.3s ease;
animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
from { background:#5264AE; }
to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
from { background:#5264AE; }
to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
from { background:#5264AE; }
to 	{ width:0; background:transparent; }
}

.App-link {
  color: #61dafb;
}

input[type=number] {
  font-size: calc(10px + 2vmin);
  width: 300px;
}

button {
  font-size: calc(6px + 2vmin);
  display:inline-block;
  padding: 0.3em 2em;
  border:0.23em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family: monaco, Consolas, "Lucida Console", monospace;
  font-weight:400;
  color:#000000;
  text-align:center;
  transition: all 0.15s;
}

button:hover{
  color:#0d82e9;
  border-color:#BBBBBB;
  }
  button:active{
    color:#0d82e984;
    border-color:#BBBBBB;
  }

textarea {
  font-size: calc(10px + 2vmin);
  font-family: monaco, Consolas, "Lucida Console", monospace;
}

.ContractInfo {
  font-size: calc(10px + 1vmin);
  text-align: justify;
  width: 30vw;
  height: 7em;
  padding: 2vw;
  white-space: pre;
  background-color:#91fff8;
  color: #3d8a7c;
  display: block;
  border: solid black 2px;
  overflow-x: scroll;
  overflow-y: scroll;
  box-shadow: inset;
  font-family: monaco, Consolas, "Lucida Console", monospace;
}

div{
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

#itemname{
  font-family: "Poppins", sans-serif;
}